In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
from nsepy import get_history
from datetime import date

In [2]:
# Getting the data in pandas dataframe

stocks = ["AXISBANK", "TATASTEEL"]
mydata = pd.DataFrame()
for i in stocks:
    mydata[i] = get_history(symbol = i, start = date(2015,5,1), end = date(2021,5,1))["Close"]
mydata.head()

            AXISBANK  TATASTEEL
Date
2015-05-04    568.35     361.65
2015-05-05    565.85     380.10
2015-05-06    543.30     367.65
2015-05-07    527.35     367.30
2015-05-08    540.80     366.70

In [3]:
# Calculating the return of each stock in dataframe

stock_return = np.log(mydata / mydata.shift(1))
stock_return.head()

            AXISBANK  TATASTEEL
Date
2015-05-04       NaN        NaN
2015-05-05 -0.004408   0.049757
2015-05-06 -0.040667  -0.033303
2015-05-07 -0.029797  -0.000952
2015-05-08  0.025185  -0.001635

In [4]:
# Calculating mean of securities in dataframe

stock_return[["AXISBANK", "TATASTEEL"]].mean()*250

AXISBANK     0.038646
TATASTEEL    0.176973
dtype: float64

In [5]:
# Calculate covariance of securities in dataframe

cov_matrix = stock_return.cov()*250
cov_matrix

           AXISBANK  TATASTEEL
AXISBANK   0.145688   0.064278
TATASTEEL  0.064278   0.154139

In [6]:
# Calculate correlation of securities in dataframe

corr_matrix = stock_return.corr()
corr_matrix

           AXISBANK  TATASTEEL
AXISBANK   1.000000   0.428937
TATASTEEL  0.428937   1.000000

In [7]:
# Define the weights of security in portfolio

weights = np.array([0.5, 0.5])

In [8]:
# Calculate portfolio variance 

port_var = np.dot(weights.T, np.dot(stock_return.cov()*250, weights))
port_var

0.1070957618392752

In [9]:
# Calculate portfolio volatility or standard deviation

port_vol = (np.dot(weights.T, np.dot(stock_return.cov()*250, weights)))**0.5
port_vol

0.3272548881824001

In [10]:
# Calculate axisbank variance

axis_var = stock_return["AXISBANK"].var()*250
axis_var

0.14568796858260294

In [12]:
tata_var = stock_return["TATASTEEL"].var()*250
tata_var

0.15413921256981516

### Diversifiable Risk = Portfolio variance - Weighted annual variance

In [15]:
# Calculate diversified risk

diversify_risk = port_var - (weights[0]**2*axis_var) - (weights[1]**2*tata_var)
print(f"The Diversifiable Risk is : {round(diversify_risk*100, 2)}%")

The Diversifiable Risk is : 3.21%