In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
from nsepy import get_history
from datetime import date
%matplotlib inline

In [2]:
# Fetching all the data into dataframe

start = date(2015,1,1)
end = date(2021,6,10)

tata = get_history(symbol = "TATASTEEL", start = start, end = end)["Close"]
nifty = get_history(symbol = "NIFTY", start = start, end = end, index = True)["Close"]

mydata = pd.merge(tata, nifty, right_index = True, left_index = True)
mydata = mydata.rename(columns = {"Close_x" : "TATASTEEL", "Close_y" :"Nifty"})
mydata.head()

            TATASTEEL    Nifty
Date
2015-01-01     404.45  8284.00
2015-01-02     410.75  8395.45
2015-01-05     416.70  8378.40
2015-01-06     396.50  8127.35
2015-01-07     388.90  8102.10

In [3]:
# Calculate log return

log_returns = np.log(mydata / mydata.shift(1))
log_returns.head(10)

            TATASTEEL     Nifty
Date
2015-01-01        NaN       NaN
2015-01-02   0.015457  0.013364
2015-01-05   0.014382 -0.002033
2015-01-06  -0.049690 -0.030422
2015-01-07  -0.019354 -0.003112
2015-01-08   0.015437  0.016222
2015-01-09   0.011830  0.006042
2015-01-12  -0.007283  0.004636
2015-01-13  -0.013321 -0.002840
2015-01-14  -0.038138 -0.002636

In [4]:
# Calculate covariance of dataframe composite of stock and index

cov = log_returns.cov()*250
cov

           TATASTEEL     Nifty
TATASTEEL   0.151572  0.042546
Nifty       0.042546  0.032464

In [5]:
# Calculate stock covariance with nifty

cov_with_nifty = cov.iloc[0,1]
cov_with_nifty

0.04254605303679298

In [6]:
nifty_var = log_returns["Nifty"].var()*250
nifty_var

0.03246435664825734

In [7]:
# Calculate Stock Beta

stock_beta = cov_with_nifty / nifty_var
stock_beta

1.3105466249575843

In [9]:
# Calculating the expected return using risk free rate of Indian govt bond (CAPM)

stock_exp_ret = 0.06 + stock_beta*(0.09 - 0.06)
stock_exp_ret

0.09931639874872752

In [13]:
# Calculating the Sharpe Ratio

Sharpe = (stock_exp_ret - 0.06) / (log_returns["TATASTEEL"].std()*250**0.5)
print(f"Sharpe Ratio is : {round(Sharpe, 2)}")

Sharpe Ratio is : 0.1